<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Project</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <!-- vue section starts -->
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBar"></div>
        </div>
      </section>
      <!-- looser winner draw section start -->
      <div v-if="winner" class="container">
        <h2>Game Over</h2>
        <h3 v-if="winner==='playerOne'">You Won!!</h3>
        <h3 v-else-if="winner==='monster'">You Lost =(</h3>
        <h3 v-else>Draw Draw Draw</h3>
        <button @click="reStartGame">Restart The Game</button>
      </div>
      <!-- looser winner draw section end-->
      <!-- surrender hide toggle start -->
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="roundJugado % 3 !==0" @click="tripleAttack">
          SPECIAL ATTACK
        </button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <!-- surrender hide toggle end -->
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}"
              >{{logMessage.actionBy ==='player' ? 'Player': 'monster'}}</span
            >
            <span v-if="logMessage.actionType ==='heal'">
              heals Player for
              <span class="log--heal">{{logMessage.actionVal}}</span></span
            >
            <span v-else>
              attacks and deals
              <span class="log--damage">{{logMessage.actionVal}}</span></span
            >
          </li>
        </ul>
      </section>
    </div>
    <!-- vue section ends -->
  </body>
</html>
